<footer class="bg-light text-center text-lg-start mt-4 fixed-bottom">
  <div class="text-center p-3">
    Przykładowa stopka z danymi &copy; 2023
  </div>
</footer>

<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>