<!DOCTYPE html>
<html>
<head>
  <title>Statystyki</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

  <script src="/socket.io/socket.io.js"></script>
  <script>
    // Połączenie z serwerem socket.io
    const socket = io();

    // Odbieranie danych ruchu sieciowego
    socket.on('networkTraffic', (data) => {
      document.getElementById('rxSpeed').textContent = data.rxSpeed;
      document.getElementById('txSpeed').textContent = data.txSpeed;
    });
  </script>
</head>

<body>
<%- include('navbar.ejs') %>
  <h1>Statystyki ruchu sieciowego</h1>
  <p>Przyjęta prędkość: <span id="rxSpeed"></span> kb/s</p>
  <p>Wysyłana prędkość: <span id="txSpeed"></span> kb/s</p>

<%- include('footer.ejs') %>
</body>


</html